{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une facture{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(add_invoice_form) }}
    <div class="cont-flex-start cont-title">
        <i class="fas fa-file-upload fa-2x"></i>
        <h2>Ajouter une facture</h2>
    </div>
    <div class="cont-grid form-section">
        <div>
            <label for="company">Entreprise</label>
            <input id="company" class="form-control" name="company" value="{{company.name}}" readonly>
        </div>
        {{ form_row(add_invoice_form.type) }}
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_invoice_form.files) }}
        {{ form_row(add_invoice_form.releasedAt) }}
    </div>
    <div class="cont-flex">
        {{ form_row(add_invoice_form.submit) }}
    </div>
    {{ form_end(add_invoice_form) }}
</div>

{% endblock %}