{% extends 'base.html.twig' %}

{% block title %}Quantique | Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="cont-flex cont-bg">
        <div class="login-form">
            <img class="login-img" src="{{asset('images/logo-quantique-web.png')}}" alt="logo-quantique">

            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-color1">ESPACE DE CONNEXION</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn-type btn-login" type="submit">CONNEXION</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}