{% extends 'base.html.twig' %}

{% block title %}Quantique | Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="cont-flex cont-bg">
        <div class="login-form">
            <div class="login-div-img">
                <img class="login-img" src="{{asset('images/logo-quantique-web.png')}}" alt="logo-quantique">
            </div>

            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-color1">ESPACE DE CONNEXION</h1>
                <label for="inputEmail">Email</label>
                <div class="input">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
                <label for="inputPassword">Password</label>
                <div class="input">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <a class="action-link" href="{{path('reset_user_password')}}">Mot de passe oublié ?</a>

                <button class="btn-type btn-login" type="submit">CONNEXION</button>
            </form>
        </div>
    </div>
</div>


<script>
    const events = ['load', 'resize'];
    events.forEach(function(event) {
        window.addEventListener(event, function(){
            if (screen.width < 768) {
                document.querySelector('.login-img').style.display = 'none';
            } else {
                document.querySelector('.login-img').style.display = null;
            }
        })
    });
</script>

{% endblock %}
