{% extends 'base.html.twig' %}

{% block title %}Quantique | Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="form-title">Nouveau client</h1>
    {{ form_start(registrationForm) }}
    <div class="cont-grid form-section">
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
    </div>
    <div class="cont-grid form-section">
        {# <div>
            <label for="roles">Rôle</label>
            <select id="roles" class="form-select" name="roles">
                <option value="user">Utilisateur</option>
                {% if is_granted('ROLE_ADMIN') %}
                <option value="admin">Administrateur</option>
                {% endif %}
            </select>
        </div> #}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}
    </div>
    
    <div class="cont-grid form-section">
        {{ form_row(registrationForm.password) }}
    </div>
    <div class="cont-flex">
        {{ form_row(registrationForm.submit) }}
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}