<div class="cont-grid-2-3">
    <div>
        <div class="cont-flex-start">
            <i class="fas fa-building fa-2x"></i>
            <h2>{{company.name}}</h2>
        </div>
        <div class="company-info">
            <div class="cont-grid-1-2">
                <p><strong>Numéro TVA : </strong></br>{{company.numTVA}}</p>
                <p><strong>SIRET ou SIREN : </strong></br>{{company.siret}}</p>
            </div>
            <div class="cont-grid-1-2">
                <p><strong>Téléphone : </strong></br>{{company.phone}}</p>
                <p><strong>Email : </strong></br>{{company.email}}</p>
            </div>
            <p><strong>Adresse : </strong></br>{{company.address}}, {{company.city}} {{company.postalCode}}</p>
        </div>
    </div>
    <div>
        <div class="cont-flex-space">
            <div class="cont-flex-start">
                <i class="fas fa-users fa-2x"></i>
                <h2>Clients</h2>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link" href="{{path('add_user_with_company', {'company': company.id})}}"
                title="Ajouter un utilisateur">
                <i class="fas fa-plus-square fa-2x"></i>
            </a>
            {% endif %}
        </div>
        <table class="table table-client table-hover">
            <thead>
                <tr>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in company.users %}
                <div style="display: none;">
                    <h2>Email : <span>{{user.email}}</span></h2>
                    <h2>Téléphone : <span>{{user.phone}}</span></h2>
                </div>
                <tr class="table-light">
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <ul class="action-list">
                            <li class="action-item">
                                <a href="{{path('edit_user', {'user': user.id})}}" class="action-link">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a href="{{path('delete_user', {'user': user.id})}}" class="action-link">
                                    <i class="fas fa-times"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>