<div id="modal-edit-user{{user.id}}" class="mdl-edit-user">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-user-plus fa-2x"></i>
            <h2>Client</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    <form action="{{path('edit_user_modal', {'user': user.id})}}">
        <div class="form-section">
            <label for="company">Entreprise</label>
            {% set value = "" %}
            {% for company in user.companies %}
            {% set value = value ~ company.name ~ " / " %}
            {% endfor %}
            <div class="input">
                <input class="form-control" type="text" name="company" value="{{value|slice(0, (value|length - 2))}}" readonly>
                <span class="bottom"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="left"></span>
            </div>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="firstname">Prénom *</label>
                <div class="input">
                    <input class="form-control" name="firstname" value="{{user.firstname}}" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="lastname">Nom de famille *</label>
                <div class="input">
                    <input class="form-control" name="lastname" value="{{user.lastname}}" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="email">Email *</label>
                <div class="input">
                    <input class="form-control" name="email" value="{{user.email}}" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="phone">Téléphone</label>
                <div class="input">
                    <input class="form-control" name="phone" value="{{user.phone}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-flex-space mdl-btn">
            <button class="btn-type btn-form btn-alert" type="submit">Modifier</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </form>
</div>