<div id="modal-edit-company{{company.id}}" class="mdl-edit-company">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-user-plus fa-2x"></i>
            <h2>Entreprise</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    <form action="{{path('edit_company', {'company': company.id})}}">
        <div class="cont-grid form-section">
            <div>
                <label for="name">Nom de l'entreprise *</label>
                <div class="input">
                    <input class="form-control" type="text" name="name" value="{{company.name}}" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="email">Email *</label>
                <div class="input">
                    <input class="form-control" type="text" name="email" value="{{company.email}}" required>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="phone">Téléphone</label>
                <div class="input">
                    <input class="form-control" type="text" name="phone" value="{{company.phone}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="address">Adresse</label>
                <div class="input">
                    <input class="form-control" type="text" name="address" value="{{company.address}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="postalCode">Code postal</label>
                <div class="input">
                    <input class="form-control" type="text" name="postalCode" value="{{company.postalCode}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="city">Ville</label>
                <div class="input">
                    <input class="form-control" type="text" name="city" value="{{company.city}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="numTVA">Num TVA</label>
                <div class="input">
                    <input class="form-control" type="text" name="numTVA" value="{{company.numTVA}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="siret">SIRET ou SIREN</label>
                <div class="input">
                    <input class="form-control" type="text" name="siret" value="{{company.siret}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="cont-flex-space mdl-btn">
            <button class="btn-type btn-form btn-alert" type="submit">Modifier</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </form>
</div>