{% set newId = 0 %}
{% if is_granted('ROLE_ADMIN') %}
{% for website in company.websites %}
{% for contract in website.contracts %}
<div id="notepad{{contract.id}}" class="notepad">
    <div class="notepad-header cont-flex-space">
        <p class="notepad-title">{{website.name}} : {{contract.type.name}}</p>
        <a id="notepad-close{{contract.id}}" class="nav-link">✖</a>
    </div>
    <div class="notepad-content">
        <div class="notepad-notes">
            {% for note in contract.notes|reverse %}
            {% if note.id > newId %}
                {% set newId = note.id %}
            {% endif %}
            <div id="notepad-item{{note.id}}" class="notepad-item">
                <p class="note-date">{{note.releasedAt|date("d/m/Y")}}</p>
                <p class="note-msg">{{note.message|nl2br}}</p>
                <button class="nav-link" title="Supprimer la note" onclick="deleteForm({{note.id}})">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            {% endfor %}
        </div>
        <form id="form-add-note{{contract.id}}" class="cont-note form-add-note" data-path="{{asset('js/script/add-note.php')}}" action="add_note.php" method="POST" onsubmit="return validateForm({{contract.id}})">
            <div hidden>
                <label for="contract">Contrat</label>
                <input class="form-control" name="contract" value="{{contract.id}}"></input>
            </div>
            <div>
                <label id="{{app.user.id}}" class="user" for="message">Message</label>
                <textarea class="form-control msg" name="message" rows="1" required></textarea>
            </div>
            <a id="notepad-submit{{contract.id}}" class="btn-type btn-form notepad-btn" onclick="validateForm({{contract.id}})">Envoyer</a>
        </form>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    let nb = {{noteId}};

    function deleteForm(id) {
        $.ajax({
            type: 'POST',
            url: '/delete_note.php',
            data: {id : id}
        });
        document.querySelector('#notepad-item'+id).remove();
    }

    function validateForm(id) {
        const form = document.querySelector('#form-add-note'+id)
        const user = form.querySelector('.user').id;
        const contract = form.id.substr(13);
        const msg = form.querySelector('.msg').value;
        $.ajax({
            type: 'POST',
            url: '/add_note.php',
            data: {
                user : user,
                contract : contract,
                msg : msg,
            }
        });
        // création du DOM
        const notepad = document.querySelector('#notepad'+contract)
                                .querySelector('.notepad-notes');

        const notepadItem = document.createElement('div');
        nb++;
        notepadItem.id = "notepad-item" + nb;
        notepadItem.className = "notepad-item";

        const noteDate = document.createElement('p');
        noteDate.className = "note-date";
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        noteDate.innerHTML = today;

        const noteMsg = document.createElement('p');
        noteMsg.className = "note-msg";
        noteMsg.innerHTML = document.querySelector('#notepad'+contract)
                                    .querySelector('.msg').value
                                    .replaceAll('\n', '<br/>');

        const navLink = document.createElement('a');
        navLink.className = "nav-link";

        navLink.setAttribute('onclick', "deleteForm("+nb+")");
        navLink.title = "Supprimer la note";

        const navFont = document.createElement('i');
        navFont.className = "fas fa-times";

        notepadItem.appendChild(noteDate);
        notepadItem.appendChild(noteMsg);
        notepadItem.appendChild(navLink);
        navLink.appendChild(navFont);

        // récupère l'id max du #notepad+id
        let noteId = 0;
        const items = document.querySelector('#notepad'+contract).querySelectorAll('.notepad-item');
        items.forEach(function(item) {
            let newId = item.id.substr(12);
            if (newId > noteId) noteId = newId;
        })
        if (document.querySelector('#notepad-item'+noteId)) {
            notepad.insertBefore(notepadItem, document.querySelector('#notepad-item'+noteId));
        } else {
            document.querySelector('#notepad'+contract).querySelector('.notepad-notes')
                    .appendChild(notepadItem);
        }

        // on reset le textarea
        document.querySelector('#notepad'+contract).querySelector('.msg').value = "";
    }

</script>