{% if is_granted('ROLE_ADMIN') %}
{% for website in company.websites %}
{% for contract in website.contracts %}
<div id="notepad{{contract.id}}" class="notepad">
    <div class="notepad-header cont-flex-space">
        <p class="notepad-title">{{website.name}} : {{contract.type.name}}</p>
        <a id="notepad-close{{contract.id}}" class="nav-link">✖</a>
    </div>
    <div class="notepad-content">
        <div class="notepad-notes">
            {% for note in contract.notes|reverse %}
            <div class="notepad-item">
                <p class="note-date">{{note.releasedAt|date("d/m/Y")}}</p>
                <p class="note-msg">{{note.message|nl2br}}</p>
                <a class="nav-link" href="{{path('delete_note', {'note': note.id})}}" title="Supprimer la note">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            {% endfor %}
        </div>
        <form class="cont-note" method="POST" action="{{path('add_note', {'contract': contract.id})}}">
            <div>
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="1" required></textarea>
            </div>
            <button class="btn-type btn-form notepad-btn" type="submit">Envoyer</button>
        </form>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}