{% for invoice in company.invoices %}
<div id="modal-invoice{{invoice.id}}" class="mdl-delete">
    <div class="mdl-header">
        <a class="mdl-close action-link">✖</a>
    </div>
    <div class="mdl-content">
        <p>Êtes vous sûr de vouloir supprimer la facture suivante :
            <strong>{{invoice.releasedAt|date("d/m/Y")}} : {{company.name}} - {{invoice.type.name}}</strong> ?
        </p>
        <div class="cont-flex-space">
            <a class="btn-type btn-form btn-alert btn-danger"
                href="{{path('delete_invoice', {'invoice': invoice.id})}}">Supprimer</a>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </div>
</div>
{% endfor %}