{# <div id="modal-contract{{company.id}}" class="mdl-add-contract">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-globe-americas fa-2x"></i>
            <h2>Abonnement</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    <form action="{{path('add_contract_modal', {'company': company.id})}}">
        <div class="form-section cont-grid">
            <div>
                <label for="company">Entreprise</label>
                <input class="form-control" type="text" name="company" value="{{company.name}}" readonly>
            </div>
            <div>
                <label for="website">Site internet</label>
                <select class="form-select" name="website">
                    {% for website in company.websites %}
                    <option value="{{website.name}}">{{website.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-section">
            <div class="cont-flex-start">
                <i class="fas fa-file-contract fa-2x"></i>
                <h2>Contrats</h2>
            </div>
            <div>
                <div class="cont-flex-space mdl-btn-contract">
                    {% for type in typesContract %}
                    <button id="{{type.lib}}-btn" class="btn-contract btn-type form-btn" type="button">+
                        {{type.lib}}</button>
                    {% endfor %}
                </div>
                <div>
                    {% for type in typesContract %}
                    <div id="{{type.lib}}-form" class="form-type form-contract cont-grid-contract mdl-form-contract"
                        style="display: none">
                        <div class="form-contract-title">
                            <input id="{{type.lib}}-check" class="{{type.lib}}-check" type="checkbox"
                                name="{{type.lib}}-check" hidden>
                            <label class="type-check" for="{{type.lib}}-check">{{type.name}}</label>
                        </div>
                        <div class="cont-grid">
                            <div>
                                <label for="{{type.lib}}-price">Prix initial *</label>
                                <input id="{{type.lib}}-price" class="form-control" name="{{type.lib}}-price">
                            </div>
                            <div>
                                <label for="{{type.lib}}-promotion">Prix réduit</label>
                                <input id="{{type.lib}}-promotion" class="form-control" name="{{type.lib}}-promotion">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="cont-flex-space mdl-btn">
            <button class="btn-type btn-form btn-alert" type="submit">Créer</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </form>
</div> #}