{% for website in company.websites %}
<div id="modal-edit-website{{website.id}}" class="mdl-edit-website">
    <div class="cont-flex-start mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-globe-americas fa-2x"></i>
            <h2>Abonnement</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    <form action="{{path('edit_website', {'website': website.id})}}">
        
        <div class="cont-grid form-section">
            <div>
                <label for="name">Nom du site *</label>
                <div class="input">
                    <input class="form-control" type="text" name="name" value="{{website.name}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
            <div>
                <label for="url">URL du site *</label>
                <div class="input">
                    <input class="form-control" type="text" name="url" value="{{website.url}}">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="cont-flex-start">
                <div class="cont-flex">
                    <i class="fas fa-file-contract fa-2x"></i>
                    <h2>Contrats</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="cont-flex-space mdl-btn-contract">
                {% for type in typesContract %}
                <button class="btn-contract btn-type form-btn btn5 edit-{{type.lib}}-btn" type="button">+
                    {{type.lib}}</button>
                {% endfor %}
            </div>
            <div>
                {% for type in typesContract %}
                <div class="form-type form-contract cont-grid-contract mdl-form-contract edit-{{type.lib}}-form"
                    style="display: none">
                    <div class="form-contract-title">
                        <input class="edit-{{type.lib}}-check" type="checkbox"
                            name="{{type.lib}}-check" hidden>
                        <label class="type-check" for="{{type.lib}}-check">{{type.name}}</label>
                    </div>
                    <div class="cont-grid">
                        <div>
                            <label for="{{type.lib}}-price">Prix initial *</label>
                            {% set flag = false %}
                            {% for contract in website.contracts %}
                            {% if contract.type.name == type.name %}
                            <div class="input">
                                <input class="form-control edit-{{type.lib}}-price" name="{{type.lib}}-price"
                                value="{{contract.price}}">                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            {% set flag = true %}
                            {% endif %}
                            {% endfor %}

                            {% if flag == false %}
                            <div class="input">
                                <input class="form-control edit-{{type.lib}}-price" name="{{type.lib}}-price">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{type.lib}}-promotion">Prix réduit</label>
                            {% set flag = false %}
                            {% for contract in website.contracts %}
                            {% if contract.type.name == type.name %}
                            {% if contract.promotion == 0 %}
                            <div class="input">
                                <input class="form-control edit-{{type.lib}}-promotion" name="{{type.lib}}-promotion">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            {% else %}
                            <div class="input">
                                <input class="form-control edit-{{type.lib}}-promotion" name="{{type.lib}}-promotion"
                                value="{{contract.promotion}}">                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            {% endif %}
                            {% set flag = true %}
                            {% endif %}
                            {% endfor %}

                            {% if flag == false %}
                            <div class="input">
                                <input class="form-control edit-{{type.lib}}-promotion" name="{{type.lib}}-promotion">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cont-flex-space mdl-btn">
            <button class="btn-type btn-form btn-alert" type="submit">Modifier</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </form>
</div>
{% endfor %}