<nav class="navbar navbar-expand-lg">
  <div class="container-fluid navbar-container">

    <img class="navbar-logo" src="{{asset('images/logo-quantique-web.png')}}" alt="image">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-content">
      {% if app.user %}
      <ul class="navbar-nav me-auto">
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('admin')}}">Admin</a>
          </li>
        {% elseif is_granted('ROLE_USER') %}
          {# <li class="nav-item">
            <a class="nav-link" href="{{path('profile')}}">Mon profil</a>
          </li> #}
          {% for company in app.user.companies %}
            <li class="nav-item">
              <a class="nav-link" href="{{path('show_contracts', {'company': company.id})}}">{{company.name}}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>

      <li class="nav-item">
        <a class="nav-link" href="{{ url('app_logout') }}">Déconnexion</a>
      </li>
      {% endif %}
    </div>

  </div>
</nav>