<!-- {% for website in company.websites %}
<pre>
    {{ dump(website) }}
</pre>
<div id="modal-edit-website{{website.id}}" class="mdl-edit-website">
    <form action="{{path('edit_website', {'website': website.id})}}">
        <div class="cont-flex-space">
            <div class="cont-flex">
                <i class="fas fa-globe-americas fa-2x"></i>
                <h2>Modifier un abonnement</h2>
            </div>
            <a class="mdl-close action-link">✖</a>
        </div>
        <div class="cont-grid form-section">
            <div>
                <label for="name">Nom du site *</label>
                <input class="form-control" type="text" name="name" value="{{website.name}}">
            </div>
            <div>
                <label for="url">URL du site *</label>
                <input class="form-control" type="text" name="url" value="{{website.url}}">
            </div>
        </div>
        <div class="form-section">
            <div class="cont-flex-start">
                <i class="fas fa-file-contract fa-2x"></i>
                <h2>Contrats</h2>
            </div>
        </div>
        <div>
            <div class="cont-flex-space mdl-btn-contract">
                {% for type in typesContract %}
                <button id="edit-{{type.lib}}-btn" class="btn-contract btn-type form-btn btn5" type="button">+
                    {{type.lib}}</button>
                {% endfor %}
            </div>
            <div>
                {% for type in typesContract %}
                <div id="edit-{{type.lib}}-form" class="form-type form-contract cont-grid-contract mdl-form-contract"
                    style="display: none">
                    <div class="form-contract-title">
                        <input id="edit-{{type.lib}}-check" class="{{type.lib}}-check" type="checkbox"
                            name="{{type.lib}}-check" hidden>
                        <label class="type-check" for="{{type.lib}}-check">{{type.name}}</label>
                    </div>
                    <div class="cont-grid">
                        <div>
                            <label for="{{type.lib}}-price">Prix initial *</label>
                            {% set flag = false %}
                            {% for contract in website.contracts %}
                            {% if contract.type.name == type.name %}
                            <input id="edit-{{type.lib}}-price" class="form-control" name="{{type.lib}}-price"
                                value="{{contract.price}}">
                            {% set flag = true %}
                            {% endif %}
                            {% endfor %}

                            {% if flag == false %}
                            <input id="edit-{{type.lib}}-price" class="form-control" name="{{type.lib}}-price">
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{type.lib}}-promotion">Prix réduit</label>
                            {% set flag = false %}
                            {% for contract in website.contracts %}
                            {% if contract.type.name == type.name %}
                            <input id="{{type.lib}}-promotion" class="form-control" name="{{type.lib}}-promotion"
                                value="{{contract.promotion}}">
                            {% set flag = true %}
                            {% endif %}
                            {% endfor %}

                            {% if flag == false %}
                            <input id="{{type.lib}}-promotion" class="form-control" name="{{type.lib}}-promotion">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cont-flex-space mdl-btn">
            <button class="btn-type btn-form btn-alert" type="submit">Modifier</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </form>
</div>
{% endfor %} -->