{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter un site{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(add_website_form) }}
    <div class="cont-flex-start">
        <i class="fas fa-globe-americas fa-2x"></i>
        <h2>Nouvel abonnement</h2>
    </div> 
    <div class="form-section">
        <label for="company">Entreprise</label>
        <input class="form-control" type="text" name="company" value="{{company.name}}" readonly>
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_website_form.name) }}
        {{ form_row(add_website_form.url) }}
    </div>
    <div class="form-section">
        <div class="cont-flex-start">
            <i class="fas fa-file-contract fa-2x"></i>
            <h2>Ajouter des contrats</h2>
        </div>
        <div class="cont-grid">
        {% for type in typesContract %}
            <div>
                <input id="{{type.lib}}-check" class="{{type.lib}}-check" type="checkbox" name="{{type.lib}}-check">
                <label class="type-check" for="{{type.lib}}-check">{{type.name}}</label>
                <div class="">
                    <div>
                        <label for="{{type.lib}}-price">Prix initial</label>
                        <input id="{{type.lib}}-price" class="form-control" name="{{type.lib}}-price">
                    </div>
                    <div>
                        <label for="{{type.lib}}-promotion">Prix réduit</label>
                        <input id="{{type.lib}}-promotion" class="form-control" name="{{type.lib}}-promotion">
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="cont-flex">
        {{ form_row(add_website_form.submit) }}
    </div>
    {{ form_end(add_website_form) }}
</div>

<script>
    const types = ['vitrine', 'commerce', 'google', 'facebook']
    types.forEach(function(type) {
        const check = document.querySelector('#' + type + '-check');
        const price = document.querySelector('#' + type + '-price');
        check.addEventListener('click', () => {
            if (check.checked == true) {
                price.setAttribute('required', 'required');
            } else {
                price.removeAttribute('required')
            }
        })
    });
</script>

{% endblock %}