{% extends 'base.html.twig' %}

{% block title %}Quantique | Modifier un site{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(edit_website_form) }}
    <div class="cont-flex-start">
        <i class="fas fa-globe-americas fa-2x"></i>
        <h2>Modifier un abonnement</h2>
    </div>
    <div class="cont-grid form-section">
        {{ form_row(edit_website_form.name) }}
        {{ form_row(edit_website_form.url) }}
    </div>
    <div class="cont-flex">
        {{ form_row(edit_website_form.submit) }}
    </div>
    {{ form_end(edit_website_form) }}
</div>

{% endblock %}