{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">

    <h1>{{website.name}}</h1>
    <p class="cont-flex-start">URL du site : 
        <a class="nav-link" href="{{website.url}}">{{website.url}}</a>
    </p>

    <div class="section">
        <div class="cont-flex-start">
            <i class="fas fa-file-contract fa-2x"></i>
            <h2>Contrats</h2>
        </div>
        <div class="cont-grid">
        {% for t in types %}
            <div>
                <h3 class="cont-flex-start">
                    <a class="nav-link" href="{{path('add_contract_with_type', {'website': website.id, 'type': t.id})}}">
                        <i class="fas fa-plus-square fa-lg"></i>
                    </a>
                    {{t.name}}
                </h3>
                {% for contract in website.contracts %}
                    {% if contract.type.id == t.id %}
                    <div class="cont-flex-space contract-info">
                        <p>
                            <i class="fas fa-chevron-right"></i> 
                            {% if contract.promotion == 0 %}
                            {{contract.website.name}} : </br><mark>{{contract.price}}€ / mois</mark>
                            {% else %}
                            {{contract.website.name}} : </br><strike>{{contract.price}}€ / mois</strike> => 
                            <mark>{{contract.price - contract.promotion}}€ / mois</mark>
                            {% endif %}
                        </p>
                        <div class="cont-flex">
                            <a class="nav-link" href="{{path('edit_contract', {'contract': contract.id})}}">
                                <i class="fas fa-edit fa-lg"></i>
                            </a>
                            <a class="nav-link" href="{{path('delete_contract', {'contract': contract.id})}}">
                                <i class="fas fa-times fa-lg"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %} 
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="section">
        <div class="cont-flex-space">
            <div class="cont-flex-start">
                <i class="fas fa-file-invoice-dollar fa-2x"></i>
                <h2>Factures</h2>
            </div>
            <a class="nav-link" href="{{path('add_invoice_website', {'website': website.id})}}">
                <i class="fas fa-plus-square fa-2x"></i>
            </a>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in website.invoices %}
                <tr class="table-light">
                    <td>{{ invoice.releasedAt|date("d/m/Y") }}</td>
                    <td>{{ invoice.file }}</td>
                    <td>
                        <ul class="action-list">
                            <li class="action-item cont-flex-space">
                                <a href="" class="action-link">
                                    <i class="fas fa-lg fa-eye"></i>
                                </a>
                                <a href="{{path('download_invoice', {'id': invoice.id})}}"
                                    class="action-link">
                                    <i class="fas fa-lg fa-file-download"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

</div>

{% endblock %}