{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">

    <h1>{{website.name}}</h1>
    <p><a class="nav-link" href="{{website.url}}">{{website.url}}</a></p>

    <div class="cont-grid">
        <div>
            <h2>Contrats</h2>
            {% for t in types %}
                <h3 class="cont-flex-start">
                    <a class="nav-link" href="{{path('add_contract_with_type', {'website': website.id, 'type': t.id})}}">
                        <i class="fas fa-plus-square"></i>
                    </a>
                    {{t.name}}
                </h3>
                {% for contract in website.contracts %}
                    {% if contract.type.id == t.id %}
                        <p>- {{contract.website.name}} : <strike>{{contract.price}}€ / mois</strike> => {{contract.price - contract.promotion}}€ / mois</p>
                    {% endif %}
                {% endfor %}  
            {% endfor %}
        </div>
        <div>
            <h2 class="cont-flex-space">Factures
                <a class="nav-link" href="{{path('add_invoice', {'website': website.id})}}">
                    <i class="fas fa-plus-square"></i>
                </a>
            </h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in website.invoices %}
                    <tr class="table-light">
                        <td>{{ invoice.releasedAt|date("d/m/Y") }}</td>
                        <td>{{ invoice.file }}</td>
                        <td>
                            <ul class="action-list">
                                <li class="action-item">
                                    <a href="" class="action-link">
                                        <i class="fas fa-lg fa-eye"></i>
                                    </a>
                                    <a href="{{path('download_invoice', {'id': invoice.id})}}"
                                        class="action-link">
                                        <i class="fas fa-lg fa-file-download"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

</div>

{% endblock %}