{% extends 'base.html.twig' %}

{% block title %}Quantique | Entreprises Client{% endblock %}

{% block body %}

<div class="container">
    <h1>Client : {{ user.firstname }} {{ user.lastname }}</h1>

    <div class="infos">
        <p><strong>Adresse email : </strong>{{ user.email }}</p>
        <p><strong>Téléphone : </strong>{{ user.phone }}</p>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab"
                href="{{path('show_companies_user', {'id': user.id})}}">Entreprises</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_websites_user', {'id': user.id})}}">Sites internets</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom de l'entreprise</th>
                <th scope="col">Adresse</th>
                <th scope="col">Numéro de téléphone</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for company in user.companies %}
            <tr class="table-light">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}, {{ company.postalCode }} {{ company.city }}</td>
                <td>{{ company.phone }}</td>
                <td>
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="{{path('show_company', {'company': company.id})}}" class="action-link">Voir</a>
                            <a href="{{path('edit_company', {'company': company.id})}}" class="action-link">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}