{% extends 'base.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}

<div class="container">
    <h1>Espace administration</h1>
    {# <a class="btn btn-type" href="{{ path('app_register') }}">Ajouter un nouveau client</a> #}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Les clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile">Profile</a>
        </li>
    </ul>
    <pre>
        {{ dump(users) }}
    </pre>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Compagnies</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="table-light">
                    <td>{{ user.id }}</td>
                    <td>
                        {% for company in user.companies %}
                        {{ company.name }}
                        {% endfor %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.contact }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}