{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

<div class="container">
    <h1>Espace administration</h1>
    <div class="cont-flex-end">
        <form id="search-form" class="search">
            <input id="search-input" class="form-control" type="text" name="search" placeholder="Entreprise"
                aria-label="Rechercher">
            <a id="search-delete"><i class="fas fa-times"></i></a>
        </form>
        <a class="btn-type right btn10" href="{{ path('add_company') }}">Nouvelle entreprise</a>
    </div>

    <ul class="nav nav-tabs nav-tabs-admin">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_companies')}}">Entreprises</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_users')}}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_notes')}}">Historique</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom de l'entreprise</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies|reverse %}
            <tr id="company{{company.id}}" class="table-light company {{company.name}}">
                <td>{{ company.name }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.email }}</td>
                <td>
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="{{path('add_user_with_company', {'company': company.id})}}" class="action-link"
                                title="Ajouter un utilisateur">
                                <i class="fas fa-user-plus fa-lg"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a href="{{path('add_invoice_with_company', {'company': company.id})}}" class="action-link"
                                title="Ajouter une facture">
                                <i class="fas fa-file-upload fa-lg"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a href="{{path('show_contracts', {'company': company.id})}}" class="action-link"
                                title="Voir l'entreprise">
                                <i class="fas fa-eye fa-lg"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a href="{{path('edit_company', {'company': company.id})}}" class="action-link"
                                title="Modifier l'entreprise">
                                <i class="fas fa-edit fa-lg"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a href="{{path('delete_company', {'company': company.id})}}" class="action-link"
                                title="Supprimer l'entreprise">
                                <i class="fas fa-times fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>

    const companies = document.getElementsByClassName('company');
    for (let i = 0; i < companies.length; i++) {
        const company = companies[i];
        const id = company.id.substr(7);
        const tr = document.querySelector('#company' + id);
        tr.style.cursor = 'pointer';
        tr.addEventListener('click', () => {
            window.open(window.location.protocol + '/company/show/contracts/' + id, "_self");
        });
    }

    // function search
    const input = document.querySelector('#search-input');
    input.value = window.location.search.substr(8);
    input.addEventListener('keyup', () => {
        for (let i = 0; i < companies.length; i++) {
            const company = companies[i];
            const companyName = company.className.substr(20);
            if (input.value != "") {
                if (companyName.toUpperCase().includes(input.value.toUpperCase())) {
                    company.style.display = null;
                } else {
                    company.style.display = 'none';
                }
            } else {
                company.style.display = null;
            }
        }
    });

    // function delete
    const cross = document.querySelector('#search-delete');
    cross.addEventListener('click', () => {
        for (let i = 0; i < companies.length; i++) {
            input.value = "";
            companies[i].style.display = null;
        }
    });

</script>

{% endblock %}