{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

{% for company in companies|reverse %}
<!-- MODAL ADD USER -->
{% include "partials/_modal_add_user.html.twig" with {'company': company} %}
<!-- MODAL ADD WEBSITE -->
{% include "partials/_modal_add_website.html.twig" with {'company': company, 'typesContract': typesContract} %}
<!-- MODAL EDIT COMPANY -->
{% include "partials/_modal_edit_company.html.twig" with {'company': company} %}
<!-- MODAL DELETE COMPANY -->
{% include "partials/_modal_delete_company.html.twig" with {'company': company} %}
{% endfor %}
<!-- MODAL ADD INVOICE -->
<div id="modal-invoice" class="mdl-add-invoice">
    <div class="cont-flex-start cont-title mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-file-upload fa-2x"></i>
            <h2>Factures</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    {{form_start(add_invoice_form)}}
    <div class="cont-grid form-section">
        <div>
            <label for="company">Entreprise *</label>
            <input id="company" class="form-control" name="company" readonly>
        </div>
        <div>
            <label for="type">Type *</label>
            <select class="form-select" name="type">
                {% for type in typesInvoice %}
                <option value="{{type.name}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="cont-grid form-section">
        {{form_row(add_invoice_form.files)}}
        <div>
            <label for="date">Date de facturation *</label>
            <input id="date" class="form-control" type="date" name="date" value="{{currentDate|date('Y-m-d')}}">
        </div>
    </div>
    <div class="cont-flex-space mdl-btn">
        <button class="btn-type btn-form btn-alert" type="submit">Créer</button>
        <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
    </div>
    {{form_end(add_invoice_form)}}
</div>


<body>

    <div class="container">
        <h1>Espace administration</h1>
        <div class="cont-flex-end">
            <form id="search-form" class="search">
                <input id="search-input" class="form-control" type="text" name="search" placeholder="Entreprise"
                    aria-label="Rechercher">
                <a id="search-delete"><i class="fas fa-times"></i></a>
            </form>
            <a class="btn-type right btn10" href="{{ path('add_company') }}">Nouvelle entreprise</a>
        </div>

        <ul class="nav nav-tabs nav-tabs-admin">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_companies')}}">Entreprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_users')}}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_notes')}}">Historique</a>
            </li>
        </ul>

        <table class="table table-hover table-companies">
            <thead>
                <tr>
                    <th scope="col">Entreprise</th>
                    <th id="head-tel" scope="col">Téléphone</th>
                    <th id="head-email" scope="col">Email</th>
                    <th id="head-action" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies|reverse %}
                <tr id="company{{company.id}}" class="table-light company {{company.name}}">
                    <td class="company{{company.id}}">{{ company.name }}</td>
                    <td class="body-tel company{{company.id}}">{{ company.phone }}</td>
                    <td class="body-email company{{company.id}}">{{ company.email }}</td>
                    <td>
                        <ul class="action-list">
                            <li class="action-item">
                                <a id="add-user{{company.id}}" class="action-link add-user"
                                    title="Ajouter un utilisateur">
                                    <i class="fas fa-user-plus fa-lg"></i>
                                </a>
                            </li>
                            <!-- <li class="action-item">
                                <a id="add-contract{{company.id}}" class="action-link add-contract"
                                    title="Ajouter un contrat">
                                    <i class="fas fa-file-contract fa-lg"></i>
                                </a>
                            </li> -->
                            <li class="action-item">
                                <a id="add-invoice{{company.id}}" class="action-link add-invoice"
                                    title="Ajouter une facture {{company.name}}">
                                    <i class="fas fa-file-upload fa-lg"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a id="add-website{{company.id}}" class="action-link add-website"
                                    title="Ajouter un abonnement">
                                    <i class="fas fa-globe-americas fa-lg"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a id="edit-company{{company.id}}" class="action-link edit-company"
                                    title="Modifier l'entreprise">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a id="delete-company{{company.id}}" class="action-link delete-company"
                                    title="Supprimer l'entreprise">
                                    <i class="fas fa-times fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    const cont = document.querySelector('.container');
    const navbar = document.querySelector('.navbar');
    const buttons = document.querySelectorAll('.container a, .navbar a, .contract-item');

    // function click sur les lignes compagnies
    const companies = document.getElementsByClassName('company');
    for (let i = 0; i < companies.length; i++) {
        const company = companies[i];
        const id = company.id.substr(7);
        const tds = document.querySelectorAll('.company' + id);
        for (let i = 0; i < tds.length; i++) {
            tds[i].style.cursor = 'pointer';
            tds[i].addEventListener('click', () => {
                window.open(window.location.protocol + '/company/show/contracts/' + id, "_self");
            });
        }
    }

    // function recap invoices
    const files = document.querySelector('#invoice_files');
    files.addEventListener('change', () => {
        let recap = document.querySelector('#recap-invoice');
        if (recap) recap.remove();
        recap = document.createElement('div');
        recap.id = "recap-invoice";
        
        for (let i=0; i<files.files.length; i++) {
            const fileName = document.createElement('p');
            fileName.innerHTML = files.files[i]['name'];
            recap.appendChild(fileName);
        }
        const modal = document.querySelector('#modal-invoice').querySelector('form');
        const mdlBtn = document.querySelector('#modal-invoice').querySelector('.mdl-btn');
        modal.insertBefore(recap, mdlBtn);
    });

    // responsive min-height : 768px
    const headTel = document.querySelector('#head-tel');
    const headEmail = document.querySelector('#head-email');
    const tels = document.querySelectorAll('.body-tel');
    const emails = document.querySelectorAll('.body-email');
    const events = ['load', 'resize'];
    events.forEach(function(event) {
        window.addEventListener(event, function(){
            if (screen.width < 768) {
                headTel.style.display = 'none';
                headEmail.style.display = 'none';
                tels.forEach(function(tel) {
                    tel.style.display = 'none';
                })
                emails.forEach(function(tel) {
                    tel.style.display = 'none';
                })
            } else {
                headTel.style.display = null;
                headEmail.style.display = null;
                tels.forEach(function(tel) {
                    tel.style.display = null;
                })
                emails.forEach(function(tel) {
                    tel.style.display = null;
                })
            }
            if (screen.width < 460) {
                document.querySelector('#head-action').style.display = 'none';
            } else {
                document.querySelector('#head-action').style.display = 'block';
            }
        })
    });
    

</script>

<script src="{{asset('js/search_company.js')}}"></script>
<script src="{{asset('js/add_multiple_contract.js')}}"></script>
<script src="{{asset('js/close_modal.js')}}"></script>
<script src="{{asset('js/add_entity_modal.js')}}" nb="4" param1="user" param2="contract" param3="invoice"
    param4="website"></script>
<script src="{{asset('js/edit_entity_modal.js')}}" nb="1" param1="company"></script>
<script src="{{asset('js/delete_entity_modal.js')}}" nb="1" param1="company"></script>

{% endblock %}