{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

{% for company in companies|reverse %}
<!-- MODAL DELETE COMPANY -->
{% include "partials/_modal_delete_company.html.twig" with {'company': company} %}
<!-- MODAL ADD_USER_FORM -->
{% include "partials/_modal_add_user.html.twig" with {'company': company} %}
<!-- MODAL ADD_CONTRACT_FORM -->
{% include "partials/_modal_add_contract.html.twig" with {'company': company, 'typesContract': typesContract} %}
<!-- MODAL ADD_INVOICE_FORM -->
{#{% include "partials/_modal_add_invoice.html.twig" with {'company': company, 'typesInvoice': typesInvoice,
form: add_invoice_form} %}#}
<!-- MODAL ADD_WEBSITE_FORM -->
{% include "partials/_modal_add_website.html.twig" with {'company': company, 'typesContract': typesContract} %}
{% endfor %}

<body>

    <div class="container">
        <h1>Espace administration</h1>
        <div class="cont-flex-end">
            <form id="search-form" class="search">
                <input id="search-input" class="form-control" type="text" name="search" placeholder="Entreprise"
                    aria-label="Rechercher">
                <a id="search-delete"><i class="fas fa-times"></i></a>
            </form>
            <a class="btn-type right btn10" href="{{ path('add_company') }}">Nouvelle entreprise</a>
        </div>

        <ul class="nav nav-tabs nav-tabs-admin">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_companies')}}">Entreprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_users')}}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_notes')}}">Historique</a>
            </li>
        </ul>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom de l'entreprise</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies|reverse %}
                <tr id="company{{company.id}}" class="table-light company {{company.name}}">
                    <td class="company{{company.id}}">{{ company.name }}</td>
                    <td class="company{{company.id}}">{{ company.phone }}</td>
                    <td class="company{{company.id}}">{{ company.email }}</td>
                    <td>
                        <ul class="action-list">
                            <li class="action-item">
                                <a id="add-user{{company.id}}" class="action-link add-user"
                                    title="Ajouter un utilisateur">
                                    <i class="fas fa-user-plus fa-lg"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a id="add-contract{{company.id}}" class="action-link add-contract"
                                    title="Ajouter un contrat">
                                    <i class="fas fa-file-contract fa-lg"></i>
                                </a>
                            </li>
                            <!-- <li class="action-item">
                                <a id="add-invoice{{company.id}}" class="action-link add-invoice"
                                    title="Ajouter une facture">
                                    <i class="fas fa-file-upload fa-lg"></i>
                                </a>
                            </li> -->
                            <li class="action-item">
                                <a id="add-invoice{{company.id}}" class="action-link add-website"
                                    title="Ajouter un abonnement">
                                    <i class="fas fa-globe-americas fa-lg"></i>
                                </a>
                            </li>
                            <!-- <li class="action-item">
                                <a href="{{path('show_contracts', {'company': company.id})}}" class="action-link"
                                    title="Voir l'entreprise">
                                    <i class="fas fa-eye fa-lg"></i>
                                </a>
                            </li> -->
                            <li class="action-item">
                                <a href="{{path('edit_company', {'company': company.id})}}" class="action-link"
                                    title="Modifier l'entreprise">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a id="delete-company{{company.id}}" class="action-link delete-company"
                                    title="Supprimer l'entreprise">
                                    <i class="fas fa-times fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

<script>

    // function click sur les lignes compagnies
    const companies = document.getElementsByClassName('company');
    for (let i = 0; i < companies.length; i++) {
        const company = companies[i];
        const id = company.id.substr(7);
        const tds = document.querySelectorAll('.company' + id);
        for (let i = 0; i < tds.length; i++) {
            tds[i].style.cursor = 'pointer';
            tds[i].addEventListener('click', () => {
                window.open(window.location.protocol + '/company/show/contracts/' + id, "_self");
            });
        }
    }

    // function search
    const input = document.querySelector('#search-input');
    input.value = window.location.search.substr(8);
    input.addEventListener('keyup', () => {
        for (let i = 0; i < companies.length; i++) {
            const company = companies[i];
            const companyName = company.className.substr(20);
            if (input.value != "") {
                if (companyName.toUpperCase().includes(input.value.toUpperCase())) {
                    company.style.display = null;
                } else {
                    company.style.display = 'none';
                }
            } else {
                company.style.display = null;
            }
        }
    });

    // function delete search
    const cross = document.querySelector('#search-delete');
    cross.addEventListener('click', () => {
        for (let i = 0; i < companies.length; i++) {
            input.value = "";
            companies[i].style.display = null;
        }
    });

    // function delete company
    const cont = document.querySelector('.container');
    const navbar = document.querySelector('.navbar');
    const buttons = document.querySelectorAll('.container a, .navbar a, .contract-item');
    const deletes = document.querySelectorAll('.delete-company');
    deletes.forEach(function (del) {
        const id = del.id.substr(14);
        const modal = document.querySelector('#modal' + id);
        del.addEventListener('click', () => {
            modal.style.visibility = 'visible';
            navbar.style.opacity = 0.4;
            cont.style.opacity = 0.4;
            buttons.forEach(function (btn) {
                btn.style.pointerEvents = 'none';
            });
        });
    });

    // function add user / contract / invoice / website
    const typesAdd = ['user', 'contract', 'invoice', 'website'];
    typesAdd.forEach(function (type) {
        const add = document.querySelectorAll('.add-' + type);
        add.forEach(function (add) {
            let id;
            if (type == 'user') id = add.id.substr(8);
            else if (type == 'contract') id = add.id.substr(12);
            else if (type == 'invoice') id = add.id.substr(11);
            else if (type == 'website') id = add.id.substr(11);
            const modal = document.querySelector('#modal-' + type + id);
            add.addEventListener('click', () => {
                modal.style.visibility = 'visible';
                navbar.style.opacity = 0.4;
                cont.style.opacity = 0.4;
                buttons.forEach(function (btn) {
                    btn.style.pointerEvents = 'none';
                });
            });
        });
    });

    // functions fermer une modale
    const modalElements = [...Array.from(document.querySelectorAll('.mdl-delete')),
    ...Array.from(document.querySelectorAll('.mdl-add-user')),
    ...Array.from(document.querySelectorAll('.mdl-add-contract')),
    ...Array.from(document.querySelectorAll('.mdl-add-invoice')),
    ...Array.from(document.querySelectorAll('.mdl-add-website'))];

    modalElements.forEach(function (modal) {
        const close = modal.querySelector('.mdl-close');
        const cancel = modal.querySelector('.btn-cancel');
        // fermer avec button 'X'
        close.addEventListener('click', () => {
            modal.style.visibility = 'hidden';
            navbar.style.opacity = 1;
            cont.style.opacity = 1;
            buttons.forEach(function (btn) {
                btn.style.pointerEvents = 'auto';
            });
        });
        // fermer avec button 'Annuler'
        cancel.addEventListener('click', () => {
            modal.style.visibility = 'hidden';
            navbar.style.opacity = 1;
            cont.style.opacity = 1;
            buttons.forEach(function (btn) {
                btn.style.pointerEvents = 'auto';
            });
        });
        // fermer avec button 'Escape'
        window.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
                modal.style.visibility = 'hidden';
                navbar.style.opacity = 1;
                cont.style.opacity = 1;
                buttons.forEach(function (btn) {
                    btn.style.pointerEvents = 'auto';
                });
            }
        });
    });

</script>

<script src="{{asset('js/add_multiple_contract.js')}}"></script>

{% endblock %}