{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

<div class="container">
    <h1>Espace administration</h1>
    <form id="search-form" class="search">
        <div class="cont-flex-end" style="margin-top: 2rem; margin-bottom: 2rem">
            <div class="input">
                <input id="search-input" class="form-control" type="text" name="search" placeholder="Site internet"
                    aria-label="Rechercher" style="margin-bottom: 0;">
                <span class="bottom"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="left"></span>
            </div>
            <div class="input" style="margin-left: 3.2rem;">
                <select id="search-select" class="form-select" style="margin-bottom: 0;">
                    <option value="" disabled selected>Contrat</option>
                    <option value="vitrine">Vitrine</option>
                    <option value="commerce">E-commerce</option>
                    <option value="google">Google</option>
                    <option value="facebook">Facebook</option>
                </select>
                <span class="bottom"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="left"></span>
            </div>
        </div>
    </form>

    <ul class="nav nav-tabs nav-tabs-admin">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_companies')}}">Entreprises</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_users')}}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_notes')}}">Historique</a>
        </li>
    </ul>

    <table class="table table-hover table-notes animate__animated animate__backInUp">
        <thead>
            <tr>
                <th id="head-date" scope="col">Date</th>
                <th id="head-website" scope="col">Site internet</th>
                <th id="head-contract" scope="col">Contrat</th>
                <th scope="col">Notes</th>
                <th id="head-admin" scope="col">Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes|reverse %}
            <tr id="note{{note.id}}" class="table-light note {{note.contract.website.name}}"
                type="{{note.contract.type.name}}">
                <td>{{ note.releasedAt|date("d/m/Y") }}</td>
                <td>{{ note.contract.website.name }}</td>
                <td>{{ note.contract.type.name }}</td>
                <td>{{ note.message }}</td>
                <td>{{ note.user.firstname }} {{ note.user.lastname }}</td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>

</div>

<script src="{{asset('js/search_note.js')}}"></script>

<script>
    // responsive min-height : 576px
    const headDate = document.querySelector('#head-date');
    const headWebsite = document.querySelector('#head-website');
    const headContract = document.querySelector('#head-contract');
    const headAdmin = document.querySelector('#head-admin');
    const events = ['load', 'resize'];
    events.forEach(function (event) {
        window.addEventListener(event, function () {
            if (screen.width < 768) {
                headDate.style.display = 'none';
                headWebsite.style.display = 'none';
                headContract.style.display = 'none';
                headAdmin.style.display = 'none';
            } else {
                headDate.style.display = null;
                headWebsite.style.display = null;
                headContract.style.display = null;
                headAdmin.style.display = null;
            }
        })
    });
</script>

{% endblock %}