{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

{% for company in companies %}
<!-- MODAL ADD USER -->
<div id="modal-new-user" class="mdl-add-new-user">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-user-plus fa-2x"></i>
            <h2>Client</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    <form action="{{path('add_user_modal')}}">
    <div class="form-section">
        <label for="company">Entreprise</label>
        <select class="form-select" name="company">
            {% for company in companies %}
            <option value="{{company.name}}">{{company.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="cont-grid form-section">
        <div>
            <label for="firstname">Prénom *</label>
            <input class="form-control" name="firstname" required>
        </div>
        <div>
            <label for="lastname">Nom de famille *</label>
            <input class="form-control" name="lastname" required>
        </div>
    </div>
    <div class="cont-grid form-section">
        <div>
            <label for="email">Email *</label>
            <input class="form-control" name="email" required>
        </div>
        <div>
            <label for="phone">Téléphone</label>
            <input class="form-control" name="phone">
        </div>
    </div>
    <div class="cont-flex-space mdl-btn">
        <button class="btn-type btn-form btn-alert" type="submit">Créer</button>
        <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
    </div>
    </form>
</div>

<!-- MODAL DELETE USER -->
{% include "partials/_modal_delete_user.html.twig" with {'company': company} %}
{% endfor %}

{% for user in users %}
<!-- MODAL EDIT USER -->
{% include "partials/_modal_edit_user.html.twig" with {'user': user} %}
{% endfor %}

<!-- MODAL EDIT PASSWORD -->
<div id="modal-edit-password" class="mdl-edit-password">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-unlock-alt fa-2x"></i>
            <h2>Mot de passe</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    {{ form_start(edit_password_form) }}
    <div class="form-section">
        <label for="ident">Identifiant</label>
        <input id="ident" class="form-control" name="ident" type="text" readonly>
    </div>
    <div class="form-section cont-grid">
        {{ form_row(edit_password_form.password) }}
    </div>
    <div class="cont-flex">
        <div class="cont-flex-space mdl-btn">
            {{ form_row(edit_password_form.submit) }}
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </div>
    {{ form_end(edit_password_form) }}
</div>


<div class="container">
    <h1>Espace administration</h1>
    <div class="cont-flex-end">
        <form id="search-form" class="search">
            <input id="search-input" class="form-control" type="text" name="search" placeholder="Contact"
                aria-label="Rechercher">
            <a id="search-delete"><i class="fas fa-times"></i></a>
        </form>
        <a id="add-new-user" class="btn-type right btn10 add-new-user">Nouveau client</a>
    </div>

    <ul class="nav nav-tabs nav-tabs-admin">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_companies')}}">Entreprises</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_users')}}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_notes')}}">Historique</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Contact</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr id="user{{user.id}}" class="table-light user {{user.firstname}} {{user.lastname}}">
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul class="action-list">
                        <li class="action-item">
                            <a id="edit-password{{user.id}}" class="action-link edit-password"
                                title="Modifier mon mot de passe">
                                <i class="fas fa-key"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a id="edit-user{{user.id}}" class="action-link edit-user" title="Modifier l'entreprise">
                                <i class="fas fa-edit fa-lg"></i>
                            </a>
                        </li>
                        <li class="action-item">
                            <a id="delete-user{{user.id}}" class="action-link delete-user"
                                title="Supprimer l'entreprise">
                                <i class="fas fa-times fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>

    const cont = document.querySelector('.container');
    const navbar = document.querySelector('.navbar');
    const buttons = document.querySelectorAll('.container a, .navbar a, .contract-item');

    const editPasswords = document.querySelectorAll('.edit-password');
    let id; let editPass;
    {% for i in 0..users|length-1 %}
        editPass = editPasswords[{{i}}];
        editPass.addEventListener('click', () => {
            document.querySelector('#ident').value = '{{users[i].email}}';
        })
    {% endfor %}  
        

</script>

<script src="{{asset('js/search_user.js')}}"></script>
<script src="{{asset('js/close_modal.js')}}"></script>

<script src="{{asset('js/add_entity_modal.js')}}" nb="1" param1="new-user"></script>
<script src="{{asset('js/edit_entity_modal.js')}}" nb="2" param1="user" param2="password"></script>
<script src="{{asset('js/delete_entity_modal.js')}}" nb="1" param1="user"></script>

{% endblock %}