{% extends 'base.html.twig' %}

{% block title %}Quantique | Clients{% endblock %}

{% block body %}

<div class="container">
    <h1>Espace administration</h1>
    <div class="cont-flex-end">
        <span class="nav-link-header">Ajouter :</span>
        <a class="nav-link" href="{{ path('app_register') }}">Client</a>
        {# <a class="nav-link" href="{{ path('add_company') }}">Entreprise</a> #}
        {# <a class="nav-link" href="{{ path('add_website') }}">Site</a> #}
        <a class="nav-link" href="{{ path('add_contract') }}">Contrat</a>
        <a class="nav-link" href="{{ path('add_invoice') }}">Facture</a>
    </div>

    <ul class="nav nav-tabs nav-tabs-admin">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('admin_users')}}">Les clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{path('admin_companies')}}">Les entreprises</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom de l'entreprise</th>
                <th scope="col">Numéro de téléphone</th>
                {# <th scope="col">Contrats</th> #}
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr class="table-light">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.phone }}</td>
                {# <td>{{ company.contracts|length }}</td> #}
                <td>
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="{{path('show_company', {'company': company.id})}}" class="action-link">Voir</a>
                        </li>
                        <li class="action-item">
                            <a href="{{path('edit_company', {'company': company.id})}}" class="action-link">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}