{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter un contrat{% endblock %}

{% block body %}

<div class="container">
    <h1 class="form-title">Nouveau contrat</span></h1>
    {{ form_start(add_contract_form) }}
    <div class="form-section">
        {{ form_row(add_contract_form.website) }}
    </div>
    <div class="form-section">
        <div class="form-section">
            <div class="cont-grid">
            {% for type in typesContract %}
                <div>
                    <input type="checkbox" name="type">
                    <label for="type"><strong>{{type.name}}</strong></label>
                    <div class="cont-grid">
                        <div>
                            <label for="price">Prix initial</label>
                            <input class="form-control" name="price">
                        </div>
                        <div>
                            <label for="promotion">Promotion</label>
                            <input class="form-control" name="promotion">
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="cont-flex">
        {{ form_row(add_contract_form.submit) }}
    </div>
    {{ form_end(add_contract_form) }}
</div>

{% endblock %}