{% extends 'base.html.twig' %}

{% block title %}Quantique | Modifier un contrat{% endblock %}

{% block body %}

<div class="container">
    <h1 class="form-title">Contrat : {{contract.type.name}}</h1>
    {{ form_start(edit_contract_form) }}
    <div class="cont-grid form-section">
        <div>
            <label for="website">Site internet</label>
            <input class="form-control" type="text" name="website" value="{{contract.website.name}}" readonly>
        </div>
        <div>
            <label for="website">Type de contrat</label>
            <input class="form-control" type="text" name="website" value="{{contract.type.name}}" readonly>
        </div>
    </div>
    <div class="cont-grid form-section">
        {{ form_row(edit_contract_form.price) }}
        {{ form_row(edit_contract_form.promotion) }}
    </div>
    <div class="cont-flex">
        {{ form_row(edit_contract_form.submit) }}
    </div>
    {{ form_end(edit_contract_form) }}
</div>

{% endblock %}