{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(add_company_form) }}

    <div class="form-section">
        <div class="cont-flex-start cont-title">
            <i class="fas fa-building fa-2x"></i>
            <h2>Entreprise</h2>
        </div>
        <div class="cont-grid form-section">
            {{ form_row(add_company_form.name) }}
            {{ form_row(add_company_form.email) }}
        </div>
        <div class="cont-grid form-section">
            {{ form_row(add_company_form.phone) }}
            {{ form_row(add_company_form.address) }}
        </div>
        <div class="cont-grid form-section">
            {{ form_row(add_company_form.postalCode) }}
            {{ form_row(add_company_form.city) }}
        </div>
        <div class="cont-grid form-section">
            {{ form_row(add_company_form.numTVA) }}
            {{ form_row(add_company_form.siret) }}
        </div>
    </div>


    <div class="form-section">
        <div class="cont-flex-start cont-title">
            <i class="fas fa-globe-americas fa-2x"></i>
            <h2>Abonnement</h2>
        </div>
        <div class="cont-grid">
            <div>
                <label for="website">Site internet</label>
                <input class="form-control" type="text" name="website">
            </div>
            <div>
                <label for="url">URL du site</label>
                <input class="form-control" type="text" name="url">
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="cont-flex-start-contract">
            <div class="cont-flex-start cont-title">
                <i class="fas fa-file-contract fa-2x"></i>
                <h2>Contrats</h2>
            </div>
            <div class="cont-contract">
                {% for type in types %}
                <div>
                    <div class="">
                        <button id="{{type.lib}}-btn" class="btn-contract btn-type form-btn btn5" type="button">+
                            {{type.lib}}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            {% for type in types %}
            <div>
                <div id="{{type.lib}}-form" class="form-type form-contract cont-grid-contract" style="display: none">
                    <div class="form-contract-title">
                        <input id="{{type.lib}}-check" class="{{type.lib}}-check" type="checkbox"
                            name="{{type.lib}}-check" hidden>
                        <label class="type-check" for="{{type.lib}}-check">{{type.name}}</label>
                    </div>
                    <div class="cont-grid">
                        <div>
                            <label for="{{type.lib}}-price">Prix initial *</label>
                            <input id="{{type.lib}}-price" class="form-control" name="{{type.lib}}-price">
                        </div>
                        <div>
                            <label for="{{type.lib}}-promotion">Prix réduit</label>
                            <input id="{{type.lib}}-promotion" class="form-control" name="{{type.lib}}-promotion">
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="cont-flex-space mdl-btn">
        <button class="btn-type btn-form" type="submit">Créer</button>
    </div>

    {{ form_end(add_company_form) }}
</div>

<script src="{{asset('js/add_multiple_contract.js')}}"></script>

{% endblock %}