{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">
    <h1 class="form-title">Ajouter une entreprise</h1>
    {{ form_start(add_company_form) }}
    <div class="form-section">
        <label for="user">Client</label>
        <input class="form-control" type="text" name="user" value="{{user.firstname}} {{user.lastname}}" readonly>
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_company_form.name) }}
        {{ form_row(add_company_form.email) }}
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_company_form.phone) }}
        {{ form_row(add_company_form.address) }}
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_company_form.postalCode) }}
        {{ form_row(add_company_form.city) }}
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_company_form.numTVA) }}
        {{ form_row(add_company_form.siret) }}
    </div>
    <div class="cont-flex">
        {{ form_row(add_company_form.submit) }}
    </div>
    {{ form_end(add_company_form) }}
</div>

{% endblock %}