{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<!-- MODAL NOTEPAD -->
{% include "partials/_modal_notepad.html.twig" %}
<!-- MODAL ADD USER -->
{% include "partials/_modal_add_user.html.twig" with {'company': company} %}
<!-- MODAL ADD WEBSITE -->
{% include "partials/_modal_add_website.html.twig" with {'company': company, 'typesContract': typesContract} %}
<!-- MODAL EDIT USER -->
{% for user in company.users %}
{% include "partials/_modal_edit_user.html.twig" with {'company': company} %}
{% endfor %}
<!-- MODAL EDIT WEBSITE -->
{% include "partials/_modal_edit_website.html.twig" with {'company': company} %}
<!-- MODAL DELETE USER -->
{% include "partials/_modal_delete_user.html.twig" %}
<!-- MODAL DELETE WEBSITE -->
{% include "partials/_modal_delete_website.html.twig" %}
<!-- MODAL DELETE CONTRACT -->
{% include "partials/_modal_delete_contract.html.twig" %}
<!-- MODAL EDIT PASSWORD -->
<div id="modal-edit-password{{app.user.id}}" class="mdl-edit-password">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-unlock-alt fa-2x"></i>
            <h2>Mot de passe</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    {{ form_start(edit_password_form) }}
    <div class="form-section">
        <label for="company">Identifiant</label>
        <input class="form-control" type="text" value="{{app.user.email}}" readonly>
    </div>
    <div class="form-section cont-grid">
        {{ form_row(edit_password_form.password) }}
    </div>
    <div class="cont-flex">
        <div class="cont-flex-space mdl-btn">
            {{ form_row(edit_password_form.submit) }}
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </div>
    {{ form_end(edit_password_form) }}
</div>

<body>

    <div class="container">
        {% include "partials/_company_info.html.twig" %}

        {% if is_granted('ROLE_ADMIN') %}
        <a id="add-website{{company.id}}" class="btn-type right btn10 add-website">Nouvel
            abonnement</a>
        {% endif %}

        <ul class="nav nav-tabs nav-tabs-company">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab"
                    href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                    href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                    href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
            </li>
        </ul>

        <div class="contracts">
            {% for website in company.websites %}
            <div class="contract">
                <div class="contract-header">
                    <div class="cont-flex-space">
                        <div class="cont-flex">
                            <h3 class="contract-title"><a class="action-link"
                                    href="{{website.url}}">{{website.name}}</a>
                            </h3>
                        </div>
                        {% if is_granted('ROLE_ADMIN') and website.id %}
                        <div class="cont-flex">
                            <a id="edit-website{{website.id}}" class="nav-link edit-website"
                                title="Modifier l'abonnement">
                                <i class="fas fa-edit fa-lg"></i>
                            </a>
                            <a id="delete-website{{website.id}}" class="nav-link delete-website"
                                title="Supprimer l'abonnement">
                                <i class="fas fa-times fa-lg"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="contract-notes">
                    {% for contract in website.contracts %}
                    <div class="cont-flex-space contract-item contract-content">
                        <div id="contract{{contract.id}}" class="cont-flex-start contract-info">
                            <h3 class="cont-flex-start contract-title">{{contract.type.name}}</h3>
                            <div class="cont-flex-space">
                                <p>
                                    <i class="fas fa-chevron-right"></i>
                                    {% if contract.promotion %}
                                    <strike>{{contract.price}}€ / mois</strike> =>
                                    <mark>{{contract.promotion}}€ / mois</mark>
                                    {% else %}
                                    <mark>{{contract.price}}€ / mois</mark>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="cont-flex contract-action">
                            <a id="notepad-link{{contract.id}}" class="nav-link notepad-link"
                                title="Afficher le bloc-note">
                                <i class="fas fa-comment fa-lg"></i>
                            </a>
                            <a id="delete-contract{{contract.id}}" class="nav-link delete-contract"
                                title="Supprimer l'abonnement">
                                <i class="fas fa-times fa-lg"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        const cont = document.querySelector('.container');
        const navbar = document.querySelector('.navbar');
        const buttons = document.querySelectorAll('.container a, .navbar a, .contract-item');
    </script>

    <script src="{{asset('js/notepad_modal.js')}}"></script>

    <script src="{{asset('js/add_multiple_contract.js')}}"></script>
    <script src="{{asset('js/edit_multiple_contract.js')}}"></script>

    <script src="{{asset('js/add_entity_modal.js')}}" nb="2" param1="website" param2="user"></script>
    <script src="{{asset('js/edit_entity_modal.js')}}" nb="3" param1="website" param2="user" param3="password"></script>
    <script src="{{asset('js/delete_entity_modal.js')}}" nb="3" param1="website" param2="contract"
        param3="user"></script>

</body>


{% endblock %}