{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<!-- MODAL ADD / EDIT / DELETE USER -->
{% include "partials/_modal_add_user.html.twig" with {'company': company} %}
{% for user in company.users %}
{% include "partials/_modal_edit_user.html.twig" with {'company': company} %}
{% endfor %}
{% include "partials/_modal_remove_user.html.twig" %}

<!-- MODAL EDIT PASSWORD -->
<div id="modal-edit-password" class="mdl-edit-password">
    <div class="cont-flex-space mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-unlock-alt fa-2x"></i>
            <h2>Mot de passe</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    {{ form_start(edit_password_form) }}
    <div class="form-section">
        <label for="company">Identifiant</label>
        <input class="form-control" type="text" value="{{app.user.email}}" readonly>
    </div>
    <div class="form-section cont-grid">
        {{ form_row(edit_password_form.password) }}
    </div>
    <div class="cont-flex">
        <div class="cont-flex-space mdl-btn">
            <button class="form-control btn-type btn-form btn-alert" type="submit">Modifier</button>
            <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
        </div>
    </div>
    {{ form_end(edit_password_form) }}
</div>

<!-- MODAL ADD / DELETE INVOICE -->
{% include "partials/_modal_delete_invoice.html.twig" %}
<div id="modal-invoice" class="mdl-add-invoice">
    <div class="cont-flex-start cont-title mdl-header-form">
        <div class="cont-flex">
            <i class="fas fa-file-upload fa-2x"></i>
            <h2>Factures</h2>
        </div>
        <a class="mdl-close action-link">✖</a>
    </div>
    {{form_start(add_invoice_form)}}
    <div class="cont-grid form-section">
        <div>
            <label for="cmp">Entreprise *</label>
            <input id="cmp" class="form-control" name="cmp" value="{{company.name}}" readonly>
        </div>
        <div>
            <label for="type">Type *</label>
            <select class="form-select" name="type">
                {% for type in typesInvoice %}
                <option value="{{type.name}}">{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="cont-grid form-section">
        {{form_row(add_invoice_form.files)}}
        <div>
            <label for="date">Date de facturation *</label>
            <input id="date" class="form-control" type="date" name="date" value="{{currentDate|date('Y-m-d')}}">
        </div>
    </div>
    <div class="cont-flex-space mdl-btn">
        <button class="btn-type btn-form" type="submit">Créer</button>
        <a class="mdl-close-btn btn-type btn-form btn-cancel">Annuler</a>
    </div>
    {{form_end(add_invoice_form)}}
</div>

<body>

    <div class="container">
        {% include "partials/_company_info.html.twig" %}

        {% if is_granted('ROLE_ADMIN') %}
        <div class="cont-flex-end" style="z-index: 0;">
            <form id="search-form" class="search invoice-search" style="margin-top: 0;">
                <input id="start-date" class="form-control" type="date" name="search" placeholder="Date de début"
                    aria-label="Date de début" style="margin-bottom: 0;">
                <input id="start-end" class="form-control" type="date" name="search" placeholder="Date de fin"
                    aria-label="Date de fin" style="margin-bottom: 0;">
            </form>
            <a id="add-invoice{{company.id}}" class="btn-type right btn10 add-invoice">Nouvelle
                facture</a>
            </a>
        </div>
        
        {% endif %}

        <ul class="nav nav-tabs nav-tabs-company" style="margin-top: 1rem; position: relative;">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                    href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab"
                    href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                    href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
            </li>
            <li class="all-invoice">
                <input type="checkbox" name="allInvoice" style="margin-top: 1rem; margin-bottom: 0">
                <label for="allInvoice">Tout sélectionner</label>
                <a class="btn-type btn10">Télécharger</a>
                <a class="btn-type btn10">Supprimer</a>
            </li>
        </ul>

        <div>
            <table class="table table-hover table-invoices">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th id="head-name" scope="col">Nom</th>
                        <th id="head-action" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in company.invoices %}
                    <tr class="table-light invoice {{ invoice.releasedAt|date("Y-m-d") }}">
                        <td>{{ invoice.releasedAt|date("d/m/Y") }}</td>
                        <td>{{ invoice.type.name }}</td>
                        <td class="body-name">{{ invoice.file }}</td>
                        <td>
                            <ul class="action-list">
                                <input type="checkbox" style="margin-top: 0; margin-bottom: 0">
                                <li class="action-item cont-flex-space">
                                    <a href="{{path('download_invoice', {'id': invoice.id})}}" class="action-link"
                                        title="Télécharger la facture">
                                        <i class="fas fa-lg fa-file-download"></i>
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="action-item">
                                    <a id="delete-invoice{{invoice.id}}" class="action-link delete-invoice"
                                        title="Supprimer la facture">
                                        <i class="fas fa-times fa-lg"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

<script>
    const cont = document.querySelector('.container');
    const navbar = document.querySelector('.navbar');
    const buttons = document.querySelectorAll('.container a, .navbar a, .contract-item');

    // function recap invoices
    const files = document.querySelector('#invoice_files');
    files.addEventListener('change', () => {
        let recap = document.querySelector('#recap-invoice');
        if (recap) recap.remove();
        recap = document.createElement('div');
        recap.id = "recap-invoice";
        
        for (let i=0; i<files.files.length; i++) {
            const fileName = document.createElement('p');
            fileName.innerHTML = files.files[i]['name'];
            recap.appendChild(fileName);
        }
        const modal = document.querySelector('#modal-invoice').querySelector('form');
        const mdlBtn = document.querySelector('#modal-invoice').querySelector('.mdl-btn');
        modal.insertBefore(recap, mdlBtn);
    });

    // responsive min-height : 768px
    const headName = document.querySelector('#head-name');
    const names = document.querySelectorAll('.body-name');
    const evts = ['load', 'resize'];
    evts.forEach(function(event) {
        window.addEventListener(event, function(){
            if (screen.width < 768) {
                headName.style.display = 'none';
                names.forEach(function(name) {
                    name.style.display = 'none';
                })
            } else {
                headName.style.display = null;
            }
            if (screen.width < 768) {
                console.log(document.querySelector('#head-action'))
                document.querySelector('#head-action').style.display = 'none';
            } else {
                document.querySelector('#head-action').style.display = 'block';
            }
        })
    });

    // tout sélectionner
    const allInvoice = document.querySelector('.all-invoice input');
    allInvoice.addEventListener('click', () => {
        const invoicesList = document.getElementsByClassName('invoice');
        if (allInvoice.checked == true) {
            for (let i=0; i<invoicesList.length; i++) {
                let invoice = invoicesList[i];
                if (invoice.style.display != 'none') {
                    invoice.querySelector('input').checked = true;
                }
            }
        } else if (allInvoice.checked == false) {
            for (let i=0; i<invoicesList.length; i++) {
                let invoice = invoicesList[i];
                if (invoice.style.display != 'none') {
                    invoice.querySelector('input').checked = false;
                }
            }
        }
    });
</script>

<script src="{{asset('js/search_invoice.js')}}"></script>
<script src="{{asset('js/add_entity_modal.js')}}" nb="2" param1="user" param2="invoice"></script>
<script src="{{asset('js/edit_entity_modal.js')}}" nb="2" param1="user" param2="password"></script>
<script src="{{asset('js/remove_entity_modal.js')}}" nb="1" param1="user"></script>
<script src="{{asset('js/delete_entity_modal.js')}}" nb="2" param1="invoice" param2="user"></script>

{% endblock %}