{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">
    {% include "partials/_company_info.html.twig" %}

    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn-type right btn10" href="{{path('add_invoice_with_company', {'company': company.id})}}">Nouvelle
        facture</a>
    {% endif %}

    <ul class="nav nav-tabs nav-tabs-company">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab"
                href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
        </li>
        {# {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_accounts', {'company': company.id})}}">Comptes</a>
        </li>
        {% elseif app.user %} #}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
        </li>
        {# {% endif %} #}
    </ul>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in company.invoices %}
                <tr class="table-light">
                    <td>{{ invoice.releasedAt|date("d/m/Y") }}</td>
                    <td>{{ invoice.type.name }}</td>
                    <td>{{ invoice.file }}</td>
                    <td>
                        <ul class="action-list">
                            <li class="action-item cont-flex-space">
                                <a href="{{path('download_invoice', {'id': invoice.id})}}" class="action-link"
                                    title="Télécharger la facture">
                                    <i class="fas fa-lg fa-file-download"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a href="{{path('delete_invoice', {'invoice': invoice.id})}}" class="action-link"
                                    title="Supprimer la facture">
                                    <i class="fas fa-times fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}