{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<!-- MODAL ADD / EDIT / DELETE USER -->
{% include "partials/_modal_add_user.html.twig" with {'company': company} %}
{% for user in company.users %}
{% include "partials/_modal_edit_user.html.twig" with {'company': company} %}
{% endfor %}
{% include "partials/_modal_remove_user.html.twig" %}

<div class="container">
    {% include "partials/_company_info.html.twig" %}

    <ul class="nav nav-tabs nav-tabs-company">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
        </li>
        {# {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_accounts', {'company': company.id})}}">Comptes</a>
        </li>
        {% elseif app.user %} #}
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab"
                href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
        </li>
        {# {% endif %} #}
    </ul>


</div>

<!-- The JS SDK Login Button -->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<script>

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();  
        } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
            'into this webpage.';
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId            : '662888525073742',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v12.0'
      });
      FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
        statusChangeCallback(response);        // Returns the login status.
      });
    };

    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
      }

    testAPI();

    const bizSdk = require('facebook-nodejs-business-sdk');

    const accessToken = 'd46ee756cba654293fc67b0c7a3084d0';
    const accountId = '934306636983189';

    const FacebookAdsApi = bizSdk.FacebookAdsApi.init(accessToken);
    const AdAccount = bizSdk.AdAccount;
    const Campaign = bizSdk.Campaign;

    const account = new AdAccount(accountId);
    var campaigns;
        
    account.read([AdAccount.Fields.name])
    .then((account) =>{
        return account.getCampaigns([Campaign.Fields.name], { limit: 10 }) // fields array and params
    })
    .then((result) =>{
        campaigns = result
        campaigns.forEach((campaign) =>console.log(campaign.name))  
    }).catch(console.error);
    
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  

  <script src="{{asset('js/add_entity_modal.js')}}" nb="1" param1="user"></script>
  <script src="{{asset('js/edit_entity_modal.js')}}" nb="1" param1="user"></script>
  <script src="{{asset('js/remove_entity_modal.js')}}" nb="1" param1="user"></script>

{% endblock %}