{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">
    {% include "partials/_company_info.html.twig" %}

    {# {% if is_granted('ROLE_ADMIN') %}
    <a class="btn-type right" href="{{path('add_invoice_with_company', {'company': company.id})}}">Nouvelle facture</a>
    {% endif %} #}

    <ul class="nav nav-tabs nav-tabs-company">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
        </li>
        {# {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="{{path('show_accounts', {'company': company.id})}}">Comptes</a>
        </li>
        {% elseif app.user %} #}
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab"
                href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
        </li>
        {# {% endif %} #}
    </ul>



    {% endblock %}