{% extends 'base.html.twig' %}

{% block title %}Quantique | Créer mon mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="form-title">Créer mon mot de passe</h1>
    {{ form_start(add_user_form) }}
    <div class="form-section">
        <label for="company">Identifiant</label>
        <input class="form-control" type="text" value="{{user.email}}" readonly>
    </div>
    <div class="cont-grid form-section">
        {{ form_row(add_user_form.password) }}
    </div>
    <div class="cont-flex">
        {{ form_row(add_user_form.submit) }}
    </div>
    {{ form_end(add_user_form) }}
</div>
{% endblock %}