{% extends 'base.html.twig' %}

{% block title %}Quantique | Modifier un client{% endblock %}

{% block body %}

<div class="container">
    <h1 class="form-title">Informations personnelles </h1>

    {{ form_start(edit_user_form) }}
    <div class="cont-grid form-section">
        {{ form_row(edit_user_form.firstname) }}
        {{ form_row(edit_user_form.lastname) }}
    </div>
    <div class="cont-grid form-section">
        {{ form_row(edit_user_form.email) }}
        {{ form_row(edit_user_form.phone) }}
    </div>
    <div class="cont-flex">
        {{ form_row(edit_user_form.submit) }}
    </div>
    {{ form_end(edit_user_form) }}
</div>

{% endblock %}